/* 
COLORS
DARK GREY =  #212529 background
WHITE: #F2F4FF menu text color
PRIMARY WHITE: #e5eaff;
GREEN: #00ff40 join button
BLACK: #111112; button dark text color
GREY: #ccd4ff1c; outline for button


*/

:root {
  --indigo: #6610f2;
  --blue: #0d6efd;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --ge: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --salad-green: #00ff40;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --white: #f2f4ff;
  --dark: #212529;
  --black: #111112;
  --outline-grey: #ccd4ff1c;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
body,
ul,
li {
  padding: 0;
  margin: 0;
}

body {
  font-family: "SpaceGrotesk", sans-serif;
  background-color: var(--black);
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 9.6rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* nav section */

button {
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  outline: none; /* Remove the default focus outline */
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 1.6rem;
  padding: 1.4rem 2.4rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.button:hover {
  background-color: var(--outline-grey);
}

.container {
  width: 70%;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.nav-menu li:first-child {
  background-color: var(--outline-grey);
  border-radius: 1.6rem;
}

.sign-in-btn {
  border: 2px solid #ccd4ff1c;
}

.join-btn {
  background-color: var(--salad-green);
  color: var(--black);
  padding: 16px 24px;
  margin-left: 0.4rem;
  transition: all 0.15s ease-in-out;
}

.join-btn:hover {
  background-color: var(--salad-green);
  box-shadow: -1px 1px 15px var(--salad-green);
}

/* Hero section */

.hero-section {
  position: relative;
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 9.6rem;

  box-shadow: 50px -10px 16rem #350d757b, -50px 10px 16rem #350d757b;

  /* box-shadow: -1px 1px 184rem var(--salad-green); */

  /* position: relative;
  width: 100%;
  height: 100vh;  */
  overflow: hidden;
}

/* Style for the video background */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.4rem;
}

/* .hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(Images/hero-section-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(100%);
  border-radius: 2.4rem;
} */

.inner-hero-section {
  position: relative;
  color: white;
  text-align: start;
  margin: 9.6rem;
  width: 72rem;
}

.hero-title {
  font-size: 6.4rem;
  line-height: 7.2rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.hero-btn {
  margin: 0 !important;
  padding: 1.8rem 2.4rem;
}

/* Scroller styling */
.scrolling-textbox {
  margin-bottom: 6.4rem;

  /* display: flex; */
}

.scrolling-text {
  display: flex;
  align-items: center;
  font-size: 3em;
  font-weight: 400;
  color: rgba(229, 234, 255, 0.7);
}
.scroller {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 7em;
  margin: 1rem;
  border-bottom: 2px solid white;
  color: white;
}

.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
  100% {
    top: -4.8em;
  }
}

/* text between sections */

.cross-section-text {
  width: 50vw;
  margin: auto;
  display: flex;
  justify-content: start;
  margin-bottom: 9.6rem;
}

.text {
  color: hsla(228, 100%, 95%, 0.6);
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 6.4rem;
  text-align: center;
}

.white-text {
  color: hsla(228, 100%, 95%);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* CTA block */

.cta-cards-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 9.6rem;
  margin: auto;
  margin-bottom: 9.6rem;
  width: 100%;
}

.cta-card {
  display: flex;
  flex-basis: calc(50% - (9.6rem / 2));
  flex-direction: column;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: white;
  background: rgba(204, 213, 255, 0.05);
  padding: 4.8rem;
  border-radius: 2.4rem;
}

.features-list-box {
  margin-bottom: 4.8rem;
}

.features-list {
  list-style: none;
  padding: 0;
  /* margin-bottom: 4.8rem; */
}

.features-list-attribute {
  display: flex;
  gap: 3rem;
}

.card-title-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  /* position: relative; */
  font-size: 4.4rem;
  align-content: center;
  margin-bottom: 0;
}

/* .card-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10rem;
  height: 8rem;
  background-size: cover;
  transform: translate(20%, -20%);
}

.right-card-title::after {
  background-image: url(Images/For-talent-icon.png);
}

.left-card-title::after {
  background-image: url(Images/Find-talent-icon.png);
} */

.button-container {
  display: flex;
  justify-content: space-between;
}

.card-header-text {
  font-size: 2.2rem;
  line-height: 32px;
  color: rgba(230, 234, 255, 0.45);
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: white;
}

.feature-title-text {
  color: rgba(230, 234, 255, 0.45);
  margin-bottom: 3.2rem;
}

/* __________ logos _____________*/

.logos {
  display: flex;
  overflow: hidden;
  padding: 6rem 0;
  margin-bottom: 9.6rem;
  white-space: nowrap;
  gap: 2.4rem;
}

.logos-slide {
  display: flex;
  gap: 2.4rem;
  animation: 25s logo-slide infinite linear;
}
.logos-slide img {
  height: 5rem;
}

.logo {
  background-color: rgba(204, 212, 255, 0.05);
  border-radius: 2.4rem;
  padding: 2.4rem;
}

@keyframes logo-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* _______testimonial-section _________ */

.testimonial-section {
  background-color: rgba(204, 212, 255, 0.05);
  border-radius: 2.4rem;
  padding: 6.4rem 8rem 8rem 8rem;
  margin-bottom: 9.6rem;
}

.testimonial-text {
  font-size: 4.8rem;
  line-height: 5.8rem;
  font-weight: 600;
  color: #ffffff;
  position: relative;
}

.testimonial-text::before {
  position: absolute;
  content: "";
  top: -5rem;
  left: 0;
  width: 3.6rem;
  height: 3.6rem;
  background-image: url(Images/Quote\ icon.svg);
  background-size: cover;
  background-position: center;
}

.author-info {
  display: flex;
  justify-content: space-between;
}

.author {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.author-img {
  border-radius: 50%;
  width: 5.6rem;
  height: 5.6rem;
}

.author-name {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #ffffff;
  margin: 0 0 1rem 0;
}

.author-profession {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: rgba(230, 234, 255, 0.6);
  margin: 0;
}

.scroll-right {
  display: flex;
  gap: 1rem;
}

.arrow-right-img {
  /* width: 5.6rem;
  height: 5.6rem; */
  padding: 2.2rem;
  background-color: rgba(221, 226, 255, 0.2);
  border-radius: 50%;
  margin-left: 3.2rem;
  transition: opacity 0.15s ease;
}

.arrow-right-img:hover {
  box-shadow: -1px 1px 30px #e2e2ea42;
  cursor: pointer;
}

.elipse-dot {
  width: 1.8rem;
}

.elipse-dot:hover {
  cursor: pointer;
}

/* _______ footer-section___________________*/

.footer-section {
  background-color: rgba(204, 212, 255, 0.05);
  border-radius: 2.4rem;
  padding: 4.8rem 8rem 8rem 8rem;
  margin-bottom: 9.6rem;
}

.footer-img-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}

.footer-logo-text {
  font-weight: 400;
  font-size: 1.8rem;
  /* align-items: right; */
  color: rgba(229, 234, 255, 0.6);
}

.footer-items-container {
  display: flex;
  justify-content: space-between;
}

.footer-items a,
li {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  line-height: 4.8rem;
  color: rgba(230, 234, 255, 0.6);
}

.footer-icons-div {
  margin-top: 1.6rem;
  display: flex;
  gap: 1rem;
  align-items: start;
}
